name: CI

on:
  push:
    branches:
      - 'main'
      - 'master'
      - 'v*'
    tags:
      - v*
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types: [run_build]


jobs:
  build:
    strategy:
     matrix:
       toolchain: ["linux-x86", "linux-x64"] # "windows-static-x86", "windows-static-x64", 
    runs-on: ubuntu-latest
    container: dockcross/${{ matrix.toolchain }}:latest
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: fix ownership, add dependencies and fetch
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        sudo apt-get install --assume-yes p7zip-full 
        git fetch --prune

    - name: Compile project
      run: |
        make clean all
        7z a -t7z ${{ github.event.repository.name }}-${{ matrix.toolchain }}.7z README.md "${{ github.event.repository.name }}*"
        
    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.event.repository.name }}-${{ matrix.toolchain }}
        path: |
             ${{ github.event.repository.name }}-${{ matrix.toolchain }}.7z

    - name: Deploy pre-release
      uses: softprops/action-gh-release@v1
      if: (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
      with:
        body_path: CHANGELOG.MD
        token: "${{ secrets.GITHUB_TOKEN }}"
        fail_on_unmatched_files: true
        files: |
            ${{ github.event.repository.name }}-${{ matrix.toolchain }}.7z
        name: "Latest build"
        tag_name: "Latest"
        prerelease: true
